.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}
.row{
    display: flex;
    justify-content: center;
}
.button{
    padding: 12px 12px;
    margin: 1px 1px;
    height: 90px;
    width: 90px;
    background-color: darkgray;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-size: 21px;
    border: 2px solid ;
}
.display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90px;
    width: 365.5px;
    border-radius: 2px;
    text-align: center;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}
body{
    background-color: black;
}
.logic_grp{
    background-color: yellowgreen;
}
.button:hover{
    background-color: burlywood;
}